header.topbar

  form.search-container(action="/buscar",method="GET")

    i.bi.bi-search.search-icon

    input.search-input(type="search", name="q", placeholder="Buscar...")

  .user-menu

    if usuario

      .dropdown

        button.btn.p-0.border-0.bg-transparent(
          type="button",
          data-bs-toggle="dropdown",
          aria-expanded="false"
        )
          if usuario.avatar
            img.user-avatar(
              src=usuario.avatar,
              alt="avatar"
            )
          else
            .avatar-placeholder.rounded-circle.shadow.avatar-topbar= usuario.name[0].toUpperCase()+usuario.lastName[0].toUpperCase()

        ul.dropdown-menu.dropdown-menu-end

          li
            a.dropdown-item(
              href="/usuario/perfil"
            )
              | Ver perfil

          li
            hr.dropdown-divider

          li
            a.dropdown-item.text-danger(
              href="/auth/logout"
            )
              | Cerrar sesión