extends layout

block content

    .container-fluid.mt-4

        .card.shadow-sm.mb-4.profile-card

            .card-body

                .profile-header

                    .profile-avatar

                        if perfilUsuario.avatar

                            img.rounded-circle.shadow( src=perfilUsuario.avatar style="object-fit: cover;")

                        else

                            img.rounded-circle.shadow(src="/images/patroclo.jpeg" style="object-fit: cover;")

                    .profile-info

                        h2.mb-2= perfilUsuario.username

                        p.text-muted.mb-3= perfilUsuario.email

                        .profile-stats

                            .stat
                                h4= cantidadPublicaciones
                                span Publicaciones

                            .stat
                                h4= cantidadSeguidores
                                span Seguidores

                            .stat
                                h4= cantidadSeguidos
                                span Siguiendo

                        if esMiPerfil 

                            a.btn.btn-outline-success(
                                href="/usuario/perfil/editar"
                            )
                                | Editar 

                        else

                            if siguiendo

                                form(
                                    action=`/usuario/dejar-seguir/${perfilUsuario.id}`,
                                    method="POST"
                                )

                                    button.btn.btn-outline-danger(
                                        type="submit"
                                    )
                                        | Dejar de seguir

                            else

                                form(
                                    action=`/usuario/seguir/${perfilUsuario.id}`,
                                    method="POST"
                                )

                                    button.btn.btn-success(
                                        type="submit"
                                    )
                                        | Seguir

        h4.mb-4 Publicaciones

        include ../partials/publicGrid