extends layout

block content

    .container-fluid.mt-4

        .card.shadow-sm.mb-4.profile-card

            .card-body

                .profile-header

                    .profile-avatar

                        if usuario.avatar

                            img.rounded-circle.shadow( src=usuario.avatar style="object-fit: cover;")

                        else

                            img.rounded-circle.shadow(src="/images/Patroclo.jpeg" style="object-fit: cover;")

                    .profile-info

                        h2.mb-2= usuario.username

                        p.text-muted.mb-3= usuario.email

                        .profile-stats

                            .stat
                                h4= cantidadPublicaciones
                                span Publicaciones

                            .stat
                                h4= cantidadSeguidores
                                span Seguidores

                            .stat
                                h4= cantidadSeguidos
                                span Siguiendo

                        if esMi

                            a.btn.btn-outline-success(
                                href="/usuario//editar"
                            )
                                | Editar 

                        else

                            if siguiendo

                                form(
                                    action=`/usuario/dejar-seguir/${usuario.id}`,
                                    method="POST"
                                )

                                    button.btn.btn-outline-danger(
                                        type="submit"
                                    )
                                        | Dejar de seguir

                            else

                                form(
                                    action=`/usuario/seguir/${usuario.id}`,
                                    method="POST"
                                )

                                    button.btn.btn-success(
                                        type="submit"
                                    )
                                        | Seguir

        h4.mb-4 Publicaciones

        include ../partials/publicGrid